[submodule "STREAM"]
	path = STREAM
	url = https://github.com/jeffhammond/STREAM.git
[submodule "cs-roofline-toolkit"]
	path = cs-roofline-toolkit
	url = https://bitbucket.org/berkeleylab/cs-roofline-toolkit.git
[submodule "CloverLeaf"]
	path = CloverLeaf
	url = https://github.com/UK-MAC/CloverLeaf.git
[submodule "nersc-roofline"]
	path = nersc-roofline
	url = https://github.com/cyanguwa/nersc-roofline.git
